<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <style>
    body {
      color: white;
      font-family: "Roboto", sans-serif;
      background-color: black;
    }
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: white;
      font-family: "Roboto", sans-serif;
    }
    #mySidebar {
      background-color: rgba(38, 38, 39, 1);
    }
    #logo {
      width: 135px;
      height: 125px;
      top: 50px;
      left: 60px;
    }
    #logotext {
      font-weight: bold;
      font-size: 32px;
    }
    table {
      width: 60%;
      position: absolute;
      top : 100px;
      margin-left: 20%;
      border: 3px white solid;
      text-align: center;
    }
    th,
    td {
      border: 1px white solid;
    }
  </style>
  <body>
    <!-- Sidebar/menu -->
    <nav
    class="w3-sidebar w3-collapse w3-animate-left"
    style="z-index: 3; width: 270px"
    id="mySidebar"
    >
    <br />
    <div class="w3-container w3-row">
      <img src="logo.637cfd18.jpg" id="logo" />
      <div id="logotext">
        <a href="/main">PLASS DGU</a>
      </div>
      <div
      data-silex-type="text-element"
      class="editable-style text-element silex-id-1605169710227-28 page-main paged-element style-all-style1"
      data-silex-id="silex-id-1605169710227-28"
      style=""
    >
      <select name="course" onchange="location=this.value;">
        <option value="select-course">강좌를 선택하세요</option>
        <% for(var i = 0 ; i < course.length; i++ ) { %>
        <option value="course?id=<%=i%>"><%= course[i].shortname %></option>
        <% } %>
      </select>
    </div>
      <br />


    </div>
    <hr />
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor: pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->

    <!-- Header -->
    <header class="w3-container" style="margin-left: 270px; padding-top: 22px">
      <h5>
        <b> <i class="far fa-clipboard fa-fw"></i>교수용 평가점수표</b> (강좌명
        : <%= coursename %>)
      </h5>
    </header>

    <table id="table">
      <tr>
        <th>이름</th>
        <th>리더쉽</th>
        <th>참여도</th>
        <th>팀워크</th>
        <th>창의성</th>
        <th>발표능력</th>
      </tr>

      <% for (var i = 0; i < length; i++) { %>
      <tr>
        <div class="w3-clear"></div>

        <td><%=username[i] %></td>
        <td><%=leadership[i] %></td>
        <td><%=assertiveness[i] %></td>
        <td><%=teamPlayer[i] %></td>
        <td><%=creativeness[i] %></td>
        <td><%=orator[i] %></td>

        <br />
      </tr>
      <% } %>
    </table>
  </body>
</html>
