<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <style>
    body {
      color: white;
      font-family: "Roboto", sans-serif;
      background-color: black;
    }
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: white;
      font-family: "Roboto", sans-serif;
    }
    #mySidebar {
      background-color: rgba(38, 38, 39, 1);
    }
    #logo {
      width: 135px;
      height: 125px;
      top: 50px;
      left: 60px;
    }
    #logotext {
      font-weight: bold;
      font-size: 32px;
    }
    table {
      width:40%;
      border: 2px solid;
      border-color: white;
    }
    
    .silex-id-1605154601439-30 {width: 245px; min-height: 53px; background-color: rgba(66,66,66,1); position: absolute; top: 170px; left: 540px;}
    .silex-id-1605153603327-20 {width: 230px; min-height: 53px; background-color: rgba(66,66,66,1); position: absolute; top: 170px; left: 300px;}
    .silex-id-1605153782286-21 {width: 230px; min-height: 53px; background-color: rgba(210,208,208,1); position: absolute; top: 250px; left: 300px;}
    .silex-id-1605156214985-32 {width: 245px; min-height: 45px; background-color: rgba(99,99,99,1); position: absolute; top: 250px; left: 540px;}
    .silex-id-1605156214985-33 {width: 195px; min-height: 45px; background-color: rgba(99,99,99,1); position: absolute; top: 250px; left: 630px;}
    .silex-id-1605156214985-34 {width: 195px; min-height: 45px; background-color: rgba(99,99,99,1); position: absolute; top: 250px; left: 840px;}
    .silex-id-1605169710227-28 {width: 200px; min-height: 70px; position: absolute; top: 194px; left: 15px; background-color: transparent;}
    .silex-id-1605169710227-29 {width: 500px; height: 500px; position: absolute; top: 00px; left: 94%;}
  </style>
  <body>
    <div data-silex-type="image-element" class="editable-style image-element silex-id-1605169710227-29 page-main paged-element style-all-style1" data-silex-id="silex-id-1605169710227-29" style="" data-silex-href="#!page-main">
      <label><%=username%></label>
    </div>
    <!-- Sidebar/menu -->
    <nav
      class="w3-sidebar w3-collapse w3-animate-left"
      style="z-index: 3; width: 270px"
      id="mySidebar"
    >
      <br />
      <div class="w3-container w3-row">
        <img src="logo.637cfd18.jpg" id="logo" />
        <div id="logotext">
          <a href="/main">PLASS DGU</a>
        
        </div>
        <div data-silex-type="text-element" class="editable-style text-element silex-id-1605169710227-28 page-main paged-element style-all-style1" data-silex-id="silex-id-1605169710227-28" style="">
            <select name="course" onchange="location=this.value;">
              <option value="select-course" > 강좌를 선택하세요 </option>
              <% for(var i = 0 ; i < course.length; i++ ) { %> 
                <option value="course?id=<%=i%>"><%= course[i].shortname %> </option>
              <% } %>
            </select>
          </div>
        <br />
  
      </div>

      <hr />

      <div class="w3-bar-block">
        <a href="/teamPage" class="w3-bar-item w3-button w3-padding"
          ><i class="fa fa-users fa-fw"></i><b>공동문서작업</b>
        </a>
        <a href="/teamPage" class="w3-bar-item w3-button w3-padding w3-blue">-Group정보</a>
        <a href="/workList" class="w3-bar-item w3-button w3-padding">-작업리스트</a>
        <a href="/fileUpload" class="w3-bar-item w3-button w3-padding">-파일업로드</a>
        <br />

        <a href="/rate" class="w3-bar-item w3-button w3-padding"
          ><i class="far fa-star fa-fw"></i><b>평가하기</b> </a
        >
        <a href="/notfinished" class="w3-bar-item w3-button w3-padding"
          ><i class="far fa-clipboard fa-fw"></i><b>평가점수표</b> </a
        >
      </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor: pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-black" style="margin-left: 270px">
      <!-- Header -->
      <header class="w3-container" style="padding-top: 22px">
        <h5>
          <b> <i class="fas fa-info-circle"></i><%=coursename%> : Group정보</b>
        </h5>
      </header>

  
      <div class="w3-row-padding w3-margin-top" id="content_container"  style="position: relative; left:-15%" >
        <div data-silex-type="html-element" class="editable-style html-element silex-id-1605153603327-20 page-team paged-element" data-silex-id="silex-id-1605153603327-20">
            <div class="silex-element-content">
              <ul >
                <span style="font-weight: bold; color: white; position: relative; left:23%" "="">
                  팀원번호
                </span>
              </ul>
            </div>
          </div>
  
  
          <div data-silex-type="html-element" class="editable-style html-element silex-id-1605154601439-30 page-team paged-element" data-silex-id="silex-id-1605154601439-30">
            <!-- Group 정보 -->
            <div class="silex-element-content">
              <ul style="list-style-type:none">
                <span style="font-weight: bold; color: white; position: relative; left:15%;" "="">
                  <li>그룹명: <%=groupName%> </li>
                </span></ul>
              </div>
            </div>
          
            <div data-silex-type="html-element" class="editable-style html-element silex-id-1605153782286-21 page-team paged-element" data-silex-id="silex-id-1605153782286-21">
              <% for(i = 0; i < memberName.length; i++) { %> 
              <div class="silex-element-content">
                <p><strong></strong></p><center><strong><font color="black"><%=i+1%></font></strong><center><strong></strong><p></p></center></center>
              </div>
              <% } %>
            </div>
  
            <div data-silex-type="container-element" class="editable-style container-element silex-id-1605156214985-32 page-team paged-element" data-silex-id="silex-id-1605156214985-32" style="">
              <% for(i = 0; i < memberName.length; i++) { %> 
              <div class="silex-element-content">
                <p><strong></strong></p>
              
                <center>
                  <strong><font color="black"> <%=memberName[i]%></font></strong>
                  <center><strong></strong><p></p></center>
                </center>
              </div>
              <% } %>
            </div>
  
            
               
  
  
          </div>
      </div>
    </div>
  </body>
</html>
